html,
body {
    margin: 0px;
}

#crmWebToEntityForm.zcwf_lblTopBottom {
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    box-sizing: border-box;
}

#crmWebToEntityForm.zcwf_lblTopBottom * {
    box-sizing: border-box;
}

#crmWebToEntityForm {
    text-align: left;
}

#crmWebToEntityForm * {
    direction: ltr;
}

.zcwf_lblTopBottom .zcwf_title {
    word-wrap: break-word;
    padding: 0px 6px 10px;
    font-weight: bold
}

.zcwf_lblTopBottom.cpT_primaryBtn:hover {
    background: linear-gradient(#02acff 0, #006be4 100%) no-repeat padding-box !important;
    box-shadow: 0 -2px 0 0 #0159b9 inset !important;
    border: 0 !important;
    color: #fff !important;
    outline: 0 !important;
}

.zcwf_lblTopBottom .zcwf_col_fld input[type=text],
input[type=password],
.zcwf_lblTopBottom .zcwf_col_fld textarea {
    width: 60%;
    border: 1px solid #c0c6cc !important;
    resize: vertical;
    border-radius: 2px;
    float: left;
}

.zcwf_lblTopBottom .zcwf_col_lab {
    width: 30%;
    word-break: break-word;
    padding: 0px 6px 0px;
    margin-right: 10px;
    margin-top: 5px;
    padding-bottom: 4px;
}

.zcwf_lblTopBottom .zcwf_col_fld {
    width: 60%;
    padding: 0px 6px 0px;
    position: relative;
    margin-top: 5px;
}

.zcwf_lblTopBottom .zcwf_privacy {
    padding: 6px;
}

.zcwf_lblTopBottom .wfrm_fld_dpNn {
    display: none;
}

.dIB {
    display: inline-block;
}

.zcwf_lblTopBottom .zcwf_col_fld_slt {
    width: 60%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    float: left;
    resize: vertical;
    padding: 2px 5px;
}

.zcwf_lblTopBottom .zcwf_row:after,
.zcwf_lblTopBottom .zcwf_col_fld:after {
    content: '';
    display: table;
    clear: both;
}

.zcwf_lblTopBottom .zcwf_col_help {
    float: left;
    margin-left: 7px;
    font-size: 12px;
    max-width: 35%;
    word-break: break-word;
}

.zcwf_lblTopBottom .zcwf_help_icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: #fff;
    border: 1px solid #c0c6cc;
    color: #c1c1c1;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    border-radius: 50%;
}

.zcwf_lblTopBottom .zcwf_row {
    margin: 15px 0px;
}

.zcwf_lblTopBottom .formsubmit {
    margin-right: 5px;
    cursor: pointer;
    color: var(--baseColor);
    font-size: 12px;
}

#formsubmit {
    font-size: 12px;
    color: var(--baseColor);
    border: 1px solid #c0c6cc;
    padding: 3px 9px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: buttonface;
}

.zcwf_lblTopBottom .zcwf_privacy_txt {
    width: 90%;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    color: var(--baseColor);
    padding-top: 2px;
    margin-left: 6px;
}

.zcwf_lblTopBottom .zcwf_button {
    font-size: 12px;
    color: var(--baseColor);
    border: 1px solid #c0c6cc;
    padding: 3px 9px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.zcwf_lblTopBottom .zcwf_tooltip_over {
    position: relative;
}

.zcwf_lblTopBottom .zcwf_tooltip_ctn {
    position: absolute;
    background: #dedede;
    padding: 3px 6px;
    top: 3px;
    border-radius: 4px;
    word-break: break-word;
    min-width: 100px;
    max-width: 150px;
    color: var(--baseColor);
    z-index: 100;
}

.zcwf_lblTopBottom .zcwf_ckbox {
    float: left;
}

.zcwf_lblTopBottom .zcwf_file {
    width: 35%;
    box-sizing: border-box;
    float: left;
}

.cBoth:after {
    content: '';
    display: block;
    clear: both;
}

@media all {

    .zcwf_lblTopBottom .zcwf_col_lab,
    .zcwf_lblTopBottom .zcwf_col_fld {
        width: auto;
        float: none !important;
    }

    .zcwf_lblTopBottom .zcwf_col_help {
        width: 40%;
    }

    /* フォーム制御系スタイル */
    .hide {
        display: none;
    }
    .hideInvalid {
        display: none;
    }
    .showInvalid {
        display: block;
        font-size: small;
        color: red;
        padding-left: 7px;
        margin-top: 5px;
    }
    .invalid {
        background-color: ivory;
        border: none;
        outline: 2px solid red;
        border-radius: 5px;
    }
    .seltocheck {
        font-size: small;
    }
}
#calenDiv {
    padding: 10px;
    display: table;
    width: 195px;
    font-family: helvetica, sans-serif !important;
}

.calNav {
    width: 20px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 4px;
    cursor: pointer
}

#calenDiv .calNav {
    width: 15px;
}

#calenDiv .yearNavLft {
    right: 10px;
}

#calenDiv .yearNavRgt {
    left: 10px;
}

#calenDiv .dLft {
    right: 5px;
}

#calenDiv .dRgt {
    left: 5px;
}

.dLft {
    right: 10px;
    opacity: 0.8;
}

.dRgt {
    left: 10px;
    opacity: 0.8;
}

.yearNavLft {
    right: 15px;
}

.yearNavRgt {
    left: 15px;
    opacity: 0.6;
}

#calenDiv table.calDay {
    border-spacing: 6px;
    margin-top: 0
}

#calenDiv table.calDay td {
    padding: 3px 4px;
    font-size: 11px
}

#calenDiv table.calDay th {
    padding: 0 3px;
    font-size: 11px;
    padding-right: 0;
    padding-left: 1px;
    color: #888;
    width: 22px;
    cursor: default;
    border-radius: 3px;
    text-align: center;
    font-weight: normal;
}

#calenDiv #weekDays {
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #c0c6cc;
    border-bottom: 1px solid #c0c6cc;
    border-spacing: 5px;
    margin-left: 0;
    color: #8b9ab9;
}

#calenDiv .sCalMon {
    cursor: default;
    display: inline-block;
    color: #888;
    width: 110px;
    font-size: 12px;
}

table.calDay td:hover {
    background-color: #e8e8e8;
}

table.calDay {
    color: #222;
    margin-left: -10px;
    border-spacing: 12px;
}

table.calDay td,
table.calDay th {
    font-size: var(--crm-extra-medium-font-size);
    cursor: default;
    border-radius: 3px;
    text-align: center;
    padding: 3px 5px;
    font-family: helvetica, sans-serif !important;
}

table.calDay td.sel,
table.calDay td.sel:hover {
    color: #fff;
    background: #b3b3b3;
    border-radius: 3px;
}

table.calDay td.noNum,
table.calDay td.lt-gray {
    color: #c1c1c1;
}

.aligncenter {
    text-align: center;
}

#calBtns a,
.lyteCalBtns .lyteCalCurrentDate a {
    color: var(--linkColor);
    font-size: 14px;
    text-decoration: none;
}

#calenDiv #calBtns {
    width: 183px;
    margin-left: 10px;
    border-top: 0;
    font-size: 11px;
    padding: 3px 0 12px !important;
}

.arrow {
    border: solid #666;
    border-width: 0 1px 1px 0;
    display: inline-block;
    height: 6px;
    width: 6px;
}

#calenDiv .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#calenDiv .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.mLMinus2 {
    margin-left: -2px;
}

.mRMinus2 {
    margin-right: -2px;
}

.vaM {
    vertical-align: middle;
}

.tempCalDiv {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #c0c6cc;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-top: 0;
    top: 20px;
}
